<ul class="list-inline pl-0 mb-3 mt-2">
  <li class="list-inline-item ml-3"><a class="link-dark" target="_blank" rel="noreferrer nofollow" href="https://github.com/hlystovea/reservoirs_bot">GitHub</a></li>
  <li class="list-inline-item ml-3"><a class="link-dark" target="_blank" rel="noreferrer nofollow" href="https://t.me/reservoirs_bot">Telegram</a></li>
</ul>
<small class='text-dark'>Сделано с любовью к миру.</small>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(88815217, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88815217" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->