<footer class="bg-secondary mt-auto p-5">
  <div class="container">
    <ul class="list-inline pl-0 mb-3 mt-2">
      <li class="list-inline-item ml-3"><a class="link-dark" target="_blank" rel="noreferrer nofollow"
          href="https://github.com/hlystovea/reservoirs_bot">GitHub</a></li>
      <li class="list-inline-item ml-3"><a class="link-dark" target="_blank" rel="noreferrer nofollow"
          href="https://t.me/reservoirs_bot">Telegram bot</a></li>
      <li class="list-inline-item ml-3"><a class="link-dark" data-bs-toggle="modal"
          href="#agreementModal">Пользовательское соглашение</a></li>
    </ul>
    <small class='text-dark'>Сделано с любовью к миру</small>
  </div>
</footer>