<div class="row justify-content-center m-0">
  <div class="card shadow-sm">
    <div class="card-body pt-1 pb-2">
      <div class="row">
        <div class="col-lg-3" id="statTitle">
        </div>
        <div class="col-lg-9">
          <table class="table table-sm table-borderless mb-0">
            <tbody id="statTableBody">
              <tr id="statTableHead">
                <th></th>
                <th><small><span style='color:#ffc58c'>Уровень</th>
                <th><small><span style='color:#ffa1b5'>Приток</th>
                <th><small><span style='color:#86c7f3'>Сброс</th>
                <th><small><span style='color:#b894ff'>Холостой сброс</th>
              </tr>
              <tr id="statTableOffsets"></tr>
              <tr id="statTableActual"></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>