version: '3.5'

services:
  web:
    build: .
    container_name: reservoirs_web
    restart: always
    command: gunicorn web.wsgi --bind 0.0.0.0:8000
    volumes:
      - static_value:/reservoirs_web/static/
      - media_value:/reservoirs_web/media/
    env_file:
      - ./.env
  nginx:
    image: nginx:latest
    container_name: reservoirs_nginx
    restart: always
    ports:
      - '8000:8000'
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - web

networks:
  default:
    name: reservoirs_network
    driver: bridge

volumes:
  static_value:
  media_value:
