[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
django-environ = "*"
djangorestframework = "*"
django-filter = "*"
gunicorn = "*"
drf-yasg = "*"
drf-nested-routers = "*"
django = "==4.0.6"
django-redis = "*"
celery = "*"
django-celery-results = "*"
psycopg2-binary = "*"
django-celery-beat = "*"
httpx = "*"
beautifulsoup4 = "*"
pydantic = "*"

[dev-packages]
django-extensions = "*"
werkzeug = "*"
flake8 = "*"

[requires]
python_version = "3.9"
