[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
python-dateutil = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
django-filter = "*"
gunicorn = "*"
sorl-thumbnail = "*"

[dev-packages]

[requires]
python_version = "3.9"
