{% extends "base.html" %} 
{% block title %} Последние обновления {% endblock %}
{% load cache %}
{% block content %}
<div class="row justify-content-xl-center mt-4">
  <div class="row px-4">
    {% for update in update_list %}
        {% include "includes/update_item.html" with update=update %}
    {% endfor %}
    {% if is_paginated %}
      {% include "includes/paginator.html" with page_obj=page_obj paginator=paginator is_paginated=is_paginated %}
    {% endif %}
  </div>
</div>
{% endblock %}
