{% extends "base.html" %}
{% block content %}
<div class="row justify-content-xl-center">
  <div class="col-lg-3 mt-3">
    <p class="lead mb-3 mt-4">Выбрать данные:</p>
    <div class="row g-3 pl-4 pr-4">
      <div class="col-sm-12">
        <label for="selectReservoir" class="form-label text-muted">Водохранилище</label>
        <select id="selectReservoir" class="form-select p-1" name="selectReservoir">
        </select>
      </div>
      <div class="col-sm-12">
        <label for="selectPredictor" class="form-label text-muted">Модель</label>
        <select id="selectPredictor" class="form-select p-1" name="selectPredictor">
        </select>
      </div>
      <div class="col-sm-6">
        <label for="dateFrom" class="form-label text-muted">Начало</label>
        <input type="date" id="dateFrom" class="form-control p-1" name="dateFrom">
      </div>
      <div class="col-sm-6">
        <label for="dateTo" class="form-label text-muted">Конец</label>
        <input type="date" id="dateTo" class="form-control p-1" name="dateTo">
      </div>
      <div class="col-sm-12 mt-4 mb-4">
        <button id="updateButton" type="button" class="btn btn-secondary btn-block pb-1 pt-1">Показать</button>
      </div>
    </div>
  </div>
  <div class="col-lg-9 mt-3">
    <div class="row justify-content-center px-2">
      <h5 class="lead my-4">Прогноз притока на 10 дней</h5>
      <div class="row px-3">
        <table class="table table-sm table-borderless caption-top" id="forecastTable">
        </table>
      </div>
      <div class="row p-0 mt-3">
        <canvas id="forecastChart"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  var reservoirs = [];
  const selectReservoir = document.getElementById('selectReservoir');
  const selectPredictor = document.getElementById('selectPredictor');
  const updateButton = document.getElementById('updateButton');
  const dateFrom = document.getElementById('dateFrom');
  const dateTo = document.getElementById('dateTo');

  // Update predictors by change the selectReservoir
  selectReservoir.onchange = () => {
    updatePredictors();
  };

  // Update content by change the selectPredictors
  selectPredictor.onchange = () => {
    updateContent();
  };

  // Update content by click the button
  updateButton.onclick = () => {
    updateContent();
  };

  // Update content by press Enter in dateFrom input
  dateFrom.onkeydown = function (event) {
    if (event.key == 'Enter') {
      updateContent();
    }
  };

  // Update content by press Enter in dateTo input
  dateTo.onkeydown = function (event) {
    if (event.key == 'Enter') {
      updateContent();
    }
  };

  // Call onLoad after loading the html code
  document.addEventListener('DOMContentLoaded', () => {
    onLoad();
  });

  // Set the forecast table
  const setForecastTable = function (data) {
    const forecastTable = document.querySelector('#forecastTable');
    const inflows = data.inflows.slice(-10);
    const dates = data.dates.slice(-10).map(dateString => new Date(dateString));
    const local_dates = dates.map(date => date.toLocaleDateString('ru', {
      month: 'short',
      day: 'numeric'
    }));

    forecastTable.innerHTML = `<thead>
                                 <tr>
                                   <td>Дата</td>
                                   <td>${local_dates[0]}</td>
                                   <td>${local_dates[1]}</td>
                                   <td>${local_dates[2]}</td>
                                   <td>${local_dates[3]}</td>
                                   <td>${local_dates[4]}</td>
                                   <td>${local_dates[5]}</td>
                                   <td>${local_dates[6]}</td>
                                   <td>${local_dates[7]}</td>
                                   <td>${local_dates[8]}</td>
                                   <td>${local_dates[9]}</td>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr>
                                   <td class="text-muted">Приток, м<sup>3</sup>/с</td>
                                   <td class="text-muted">${inflows[0]}</td>
                                   <td class="text-muted">${inflows[1]}</td>
                                   <td class="text-muted">${inflows[2]}</td>
                                   <td class="text-muted">${inflows[3]}</td>
                                   <td class="text-muted">${inflows[4]}</td>
                                   <td class="text-muted">${inflows[5]}</td>
                                   <td class="text-muted">${inflows[6]}</td>
                                   <td class="text-muted">${inflows[7]}</td>
                                   <td class="text-muted">${inflows[8]}</td>
                                   <td class="text-muted">${inflows[9]}</td>
                                 </tr>
                               </tbody>`
  };

  const setDates = function () {
    let start = new Date();
    let end = new Date();

    start.setDate(start.getDate() - 90);
    end.setDate(end.getDate() + 10);

    dateFrom.value = start.toISOString().split('T')[0];
    dateTo.value = end.toISOString().split('T')[0];
  };

  // Call updateRservoirs and then updateContent
  async function onLoad() {
    setDates();
    await updateReservoirs(has_predictors=true)
      .then(updatePredictors)
      .then(updateContent)
  };

  // Update predictors select
  async function updatePredictors() {
    reservoir_slug = selectReservoir.value;
    const url = `{% url "predictors:predictor-list" %}?reservoir=${reservoir_slug}`;
    await fetch(url)
      .then(response => response.json())
      .then(data => {
        renderSelectPredictor(data);
      })
      .catch(error => console.error('Error: ', error));
  };

  async function updateForecast() {
    const predictor_pk = selectPredictor.value;
    const start = dateFrom.value;
    const end = dateTo.value;
    const url = `/api/v1/predictors/${predictor_pk}/forecast/?start=${start}&end=${end}`;
    await fetch(url)
      .then(r => r.json())
      .then(data => {
        data = formatForecastToArray(data);
        setForecastTable(data);
        setForecastChart(forecastChart, data);
      })
      .catch(error => console.log('Error: ', error));
  };

  // Update content
  async function updateContent() {
    const reservoir_slug = selectReservoir.options[selectReservoir.selectedIndex].value
    const reservoir = getObjectBySlug(reservoirs, reservoir_slug);
    updateStat(reservoir);
    updateForecast();
  };
  
  const forecastCtx = document.getElementById('forecastChart').getContext('2d');
  const forecastChart = new Chart(forecastCtx, forecastConfig);
</script>
{% endblock %}