{% extends "base.html" %}
{% block content %}
<div class="row justify-content-xl-center mt-3">
  <div class="row">
    <div class="col-lg-3 mt-3">
      <p class="lead mb-3 mt-4">Выбрать данные:</p>
      <div class="row g-3 pl-4 pr-4">
        <div class="col-sm-12">
          <label for="selectPredictor" class="form-label text-muted">Модель</label>
          <select id="selectPredictor" class="form-select p-1" name ="selectPredictor"></select>
        </div>
        <div class="col-sm-12 mt-4 mb-4">
          <button id="updateButton" type="button" class="btn btn-secondary btn-block pb-1 pt-1">Показать</button>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mt-3">
      <div class="row justify-content-center">
        <div class="row p-0">
          <canvas id="forecastChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% block jquery %}
  <script>
    var predictors = [];
    // requesting a list of predictors
    $.ajax({
      url: "{% url 'predictors:predictor-list' %}",
      success: function(data) {
        predictors = data;
        $("#selectPredictor option").remove();
        for (let i in data)
          $("#selectPredictor").append("<option id=" + data[i].id + " val=" + data[i].id + ">" + data[i].name + "</option>");
        updateContent();
      },          
      error: function(error_data) {
        console.log(error_data)
      }
    });

    // updating content by change the select
    $(document).ready(function() {
      $("#selectPredictor").change(function() {
        updateContent();
      });
    });

    // updating content by click the button
    $(document).ready(function() {
      $("#updateButton").click(function() {
        updateContent();
      });
    });

    // gets object by id
    function getObjectById(objects, id) {
      if (id == null) {
        return objects[0]
      };
      return objects.find(obj => obj.id == id);
    }

    function updateContent() {
      let predictor_id  = $("#selectPredictor").find("option:selected").attr('val');
      let predictor = getObjectById(predictors, predictor_id);
      getForecast(predictor);
    };

    // formatting water situation data
    function formatForecastToArray(data) {
      let dates = [];
      let inflows = [];
      let facts = [];
    
      data.forEach((item, index, array) => {
        dates.push(item.date);
        inflows.push(item.inflow);
        facts.push(item.fact);
      });
    
      return {
        dates: dates,
        inflows: inflows,
        facts: facts
      };
    }

    function setForecastChart(chart, data) {
      chart.data.labels = data.dates;
      chart.data.datasets[0].data = data.inflows;
      chart.data.datasets[1].data = data.facts;
      chart.update();
    }

    // gets water situation data
    function getForecast(predictor) {
      let url = predictor.forecast
      $.ajax({
        method: "GET",
        url: url,
        success: function(data) {
          data = formatForecastToArray(data);
          setForecastChart(forecastChart, data);
        },
        error: function(error_data) {
          console.log(error_data);
        }
      });
    };

    var forecastData = {
      labels: [],
      datasets: [{
        label: "Прогноз притока, м\u00B3/с",
        data: [],
        backgroundColor: "rgba(255, 99, 132, 0.2)",
        borderColor: "rgba(255, 99, 132, 1)",
        borderWidth: 1,
        fill: true,
      },
      {
        label: "Фактический приток, м\u00B3/с",
        data: [],
        backgroundColor: "rgba(201, 203, 207, 0.2)",
        borderColor: "rgba(201, 203, 207, 1)",
        borderWidth: 1,
        fill: true,
      }]
    }

    var forecastConfig = {
      type: "line",
      data: forecastData,
      options: {
        scales: {
          y: {
              beginAtZero: false
          }
        },
        elements: {
          point: {
            radius: 0
          }
        },
        plugins: {
          legend: {
            display: true,
            position: "bottom",
            labels: {
                boxHeight: 0
            }
          }
        },
      }
    }

    const forecastCtx = document.getElementById("forecastChart").getContext("2d");
    const forecastChart = new Chart(forecastCtx, forecastConfig);
  </script>
{% endblock %}
{% endblock %}
